.mat-accordion {
    display: block;
    transform-origin: top left;
    width: 225px;
  }
  .square {
    height: 40px;
    width: 40px;
    background-color: #555;
  }
  .circle {
    height: 45px;
    width: 45px;
    background-color: #555;
    border-radius: 50%;
  }
  .oval {
    height: 30px;
    width: 80px;
    background-color: #555;
    border-radius: 50%;
  }
  .triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}
.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }
#div1 {
  width: 100px;
  height: 60px;
}

#div2 {

  width: 90%;

  height: 500px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
#tr_general {
  vertical-align: top;
  border: 15px;
}

mat-grid-tile {
  background: lightblue;
  width: 200px;
  height: 300px;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

 .row {
  display: flex;
} 

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.field-placeholder {
 
  width: 400px;
  height: 400px;
  max-width: 100%;
  float: right;
}

fieldset {
  height: 600px;
}

mat-list-item {
  display: block !important;
}
.dropZone
{
  border:1px solid black;
  position:relative;
  height:320px;
  width:320px;
}


