<mat-sidenav-container class="side-nav-container">
    <mat-sidenav #sidenav class="side-nav" mode="side" opened cdkDropList (cdkDropListDropped)="itemDropped($event)"
        [cdkDropListData]="menus" cdkDropListConnectedTo="drop-list" >
        <mat-nav-list *ngFor="let menu of menus; let i=index" cdkDrag [cdkDragData]="menu" (cdkDragMoved)="moved($event)">
            <mat-icon class="mat-icon" mat-list-icon id={{i}} >{{menu.name}}</mat-icon>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content #sidenav >
        <div class="side-nav-content" cdkDropListConnectedTo="drop-list" >
        <!-- <div #dropZone class="icon-area" cdkDropList (cdkDropListDropped)="itemDropped($event)"  id="drop-list" >.
            <div *ngFor="let field of fields;" style="position:absolute;z-index:10" [style.top]="field.top" [style.left]="field.left">
                <mat-icon class="mat-icon" mat-list-icon cdkDrag>{{field.name}}</mat-icon> 
			</div>
        </div> -->
        <div *ngFor="let field of fields;" style="position:absolute;z-index:10" 
        [style.top]="field.top" [style.left]="field.left">
        <span class="icon-class" cdkDrag cdkDragBoundary=".side-nav-content">
            <mat-icon class="mat-icon" mat-list-icon >{{field.name}}</mat-icon> 
        </span></div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>